{% extends "base.html" %}

{% block content %}
    <p>
        <a href="{% url 'create_project' %}">Create Project</a>
    </p>
    <body>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>You are not assigned to any projects</p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </tr>
                </table>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            </td>
                            <td>
                                <p>{{ project.tasks.all|length }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </div>
        </main>
    </body>
{% endblock content %}
